<template>
  <div class="home">
    <section class="row">
      <div class="col-md-6 table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Code insee</th>
              <th>City</th>
              <th>Populaton</th>
              <!-- <th>action</th> -->
            </tr>
          </thead>
          <tbody>
            <tr v-for="(city, index) in cities" :key="index">
              <td>
                {{ city.insee }}
              </td>
              <td>
                {{ city.name }}
              </td>
              <td>
                {{ city.population }}
              </td>
              <!-- <td>
                <button class="btn btn-default" @click="getWeather(city.id)">O</button>
              </td> -->
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-6">
        <div class="row">

          <div class="col-6 mb-4">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">icone weather</h5>
                <h6 class="card-subtitle mb-2">Probabilié de pluie</h6>
                <p class="card-text">50%</p>
                <div class="row">
                  <span class="col-6">
                    Min
                  </span>
                  <span class="col-6">
                    Max
                  </span>
                  <span class="col-6">
                    9°C
                  </span>
                  <span class="col-6">
                    18°C
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-6 mb-4">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">icone weather</h5>
                <h6 class="card-subtitle mb-2">Probabilié de pluie</h6>
                <p class="card-text">50%</p>
                <div class="row">
                  <span class="col-6">
                    Min
                  </span>
                  <span class="col-6">
                    Max
                  </span>
                  <span class="col-6">
                    9°C
                  </span>
                  <span class="col-6">
                    18°C
                  </span>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-6 mb-4">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">icone weather</h5>
                <h6 class="card-subtitle mb-2">Probabilié de pluie</h6>
                <p class="card-text">50%</p>
                <div class="row">
                  <span class="col-6">
                    Min
                  </span>
                  <span class="col-6">
                    Max
                  </span>
                  <span class="col-6">
                    9°C
                  </span>
                  <span class="col-6">
                    18°C
                  </span>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-6 mb-4">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">icone weather</h5>
                <h6 class="card-subtitle mb-2">Probabilié de pluie</h6>
                <p class="card-text">50%</p>
                <div class="row">
                  <span class="col-6">
                    Min
                  </span>
                  <span class="col-6">
                    Max
                  </span>
                  <span class="col-6">
                    9°C
                  </span>
                  <span class="col-6">
                    18°C
                  </span>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </section>
  </div>
</template>

<script>
  
  import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'Weather',
  computed: mapGetters({
    cities: 'cities'
  }),
  methods:{
    ...mapActions({
      allCity: 'cities',
      getWeather: 'weather',
    })
  },
  created(){
    this.allCity()
  }
}
</script>

<style scoped>
  span, .card-text{
    font-weight: bold;
  }
  table{
    text-align: left;
  }
</style>